<div id="<%= dom_id bus_schedule %>">
  <p>
    <strong>Departure hour:</strong>
    <%= bus_schedule.departure_hour %>
  </p>

  <p>
    <strong>Departure minute:</strong>
    <%= bus_schedule.departure_minute %>
  </p>

  <p>
    <strong>Bus line:</strong>
    <%= bus_schedule.bus_line_id %>
  </p>

</div>
