<tr id="<%= dom_id bus_line %>">
  <td class="name"><%= bus_line.name %></td>
  <td class="operation">
  <%= button_to bus_line, method: :delete do %>
    <% img_name = "sumple#{bus_line.serial}.jpg" %>
    <%= image_tag img_name ,style: "width:15vw;"%>
    <% end %>
  </td>
</tr>