 <div class="dropdown-divider"></div>
    <%= current_user.name %>
    <%= current_user.id %>
    <%= link_to 'プロフィール', '#', class: 'dropdown-item' %>

    <%= link_to 'ログアウト', logout_path, class: 'dropdown-item', method: :delete %>
  </div>