 <div class = "bg-yellow-100" style = "display: flex;">
    <%= current_user.name %>
    <%= current_user.id %>
    <p>'プロフィール'</p>

    <%= button_to 'ログアウト', logout_path, class: 'dropdown-item', method: :delete %>
  </div>